.box
    .legacy__title
        .main
            .legacy__title__new Sản phẩm mới
            .legacy__title__hot Sản phẩm bán chạy
            .legacy__title__special Sản phẩm đặc biệt
        .legacy__title__decoration
            img(src='./assets/images/footer-decor.jpg' alt="text footer decoration")
        .legacy__title__menu
            .menu
                ul
                    li
                        a(href='#') Mỹ phẩm
                    li
                        a(href='#') .
                    li
                        a(href='#') Chăm sóc da
                    li
                        a(href='#') .
                    li
                        a(href='#') Nước hoa
                    li
                        a(href='#') .
                    li
                        a(href='#') Trang sức
                    li
                        a(href='#') .
                    li
                        a(href='#') Qùa tặng

.legacy__items
    figure
        input#r1(type='radio' name='r' checked='')
        input#r2(type='radio' name='r')
        .legacy__items__detail.legacy-detail1
            img(src='./assets/images/product1.jpg')
            .legacy__items__detail__content.legacy-content
                h4 Emu Oil
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small đ
                span.price.old.disable
                    small đ
            .legacy__items__detail__icon
                .item-buying
                    button Mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items__detail.legacy-detail2
            img(src='./assets/images/product2.jpg')
            .legacy__items__detail__content.legacy-content
                h4 Marc Jacobs
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small đ
                span.price.old.disable
                    small đ
            .legacy__items__detail__icon
                .item-buying
                    button Mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items__detail.legacy-detail3
            img(src='./assets/images/product3.jpg')
            .legacy__items__detail__content.legacy-content
                h4 Savon Stories
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small đ
                span.price.old
                    | 450.000
                    small đ
            .legacy__items__detail__icon
                .item-buying
                    button Mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items__detail.legacy-detail4
            img(src='./assets/images/product4.jpg')
            .legacy__items__detail__content.legacy-content
                h4 HOME
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small đ
                span.price.old.disable
                    small đ
            .legacy__items__detail__icon
                .item-buying
                    button Mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items__detail.legacy-detail5
            img(src='./assets/images/product5.jpg')
            .legacy__items__detail__content.legacy-content
                h4 OHUI
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small đ
                span.price.old.disable
                    small đ
            .legacy__items__detail__icon
                .item-buying
                    button Mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items__detail.legacy-detail6
            img(src='./assets/images/product6.jpg')
            .legacy__items__detail__content.detail-content
                h4 DEBORAH LIPPMANN
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small đ
                span.price.old.disable
                    small đ
            .legacy__items__detail__icon
                .item-buying
                    button mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items__detail.legacy-detail7
            img(src='./assets/images/product7.jpg')
            .legacy__items__detail__content.detail-content
                h4 HOME
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small &dstrok;
                span.price.old
                    | 450.000
                    small &dstrok;
            .legacy__items__detail__icon
                .item-buying
                    button Mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items__detail.legacy-detail8
            img(src='./assets/images/product8.jpg')
            .legacy__items__detail__content.detail-content
                h4 DEBORA
                a(href='#')
                    p Mỹ phẩm Châu Âu
                span.price
                    | 335.000
                    small đ
                span.price.old.disable
                    small đ
            .legacy__items__detail__icon
                .item-buying
                    button Mua hàng
                    a(href='#')
                        i.fas.fa-heart
                    a(href='#')
                        i.fas.fa-sync-alt
        .legacy__items--arrow-right
            label.fas.fa-arrow-right(for='r2')
        .legacy__items--arrow-left
            label.fas.fa-arrow-left(for='r1')
